.client-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .client-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .client-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .client-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .client-slider {
    background-color: #2196F3;
  }
  
  input:focus + .client-slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .client-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .client-slider.client-round {
    border-radius: 34px;
  }
  
  .client-slider.client-round:before {
    border-radius: 50%;
  }

  .client-toggle-button-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    justify-content: end;
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: bold;
    /* width: 100%; */
    width: 160px;
  }

  .client-toggle-button-title{
    margin-right: 10px;
    color:white;
    outline: #2196F3;
  }
.client-dashboard {
	width: 400px;
	height: 300px;
	background-image: url('https://t3.ftcdn.net/jpg/00/86/56/12/360_F_86561234_8HJdzg2iBlPap18K38mbyetKfdw1oNrm.jpg');
  background-size: 700px 500px;
  border: 3px solid black;
  position: absolute;
  top: 0;
  left: 0;
}

.client-dashboard-buttons{
    margin: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

.client-dashboard-button {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid black
}

.client-dashboard-button:hover {
  background-color: #45a049;
}

.client-dashboard-content{
    width: 95%;
    height: 70%;
    display: none;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #1b1b1b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.client-addons-sidebar{
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    flex-wrap: wrap;
}
.client-start-button{
    width: 90px;
    height: 20px;
    background-color: #001e8a;
    border: 1px solid white;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    right: 45px;
}