.client-dashboard {
	width: 600px;
	height: 300px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),url('https://t3.ftcdn.net/jpg/00/86/56/12/360_F_86561234_8HJdzg2iBlPap18K38mbyetKfdw1oNrm.jpg');
  background-size: 700px 500px;
  border: 3px solid black;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  background-size: cover;
}

.client-dashboard-buttons{
    margin: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

.client-dashboard-button {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid black
}

.client-dashboard-button:hover {
  background-color: #45a049;
}

.client-dashboard-content{
    width: 95%;
    height: 70%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #1b1b1b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.client-addons-sidebar{
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    flex-wrap: wrap;
}
.client-start-button{
    width: 90px;
    height: 20px;
    background-color: #001e8a;
    border: 1px solid white;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    right: 72px;
}